<!DOCTYPE html>
<html ng-app="appReport">
<title>Cadastro - Ufrpe Report</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="css/cadastro.css">


<head>
    <script src="js/angular.min.js"></script>
    <script src="js/appCadastro.js"></script>
    <script src="js/funcoes.js" type="text/javascript"></script>
</head>


<body ng-controller="indexController">

    <!-- ------------------------------------------------------------------------------------- Visualizar load-->
    <div id="showLoad" class="w3-modal">
        <div>
            <div class="w3-display-middle">
                <div class="loader"></div>

            </div>
        </div>
    </div>
    <hr>


    <!-- Links (sit on top) -->
    <div class="w3-top ">
        <div class="w3-container w3-light-blue ">

            <div class="w3-col s3 w3-right">
                <a href="index.html" class="w3-btn-block w3-light-grey">Sair</a>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------------------------------------------------- Content -->
    <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

        <div class="w3-panel">
            <h1><b>UFRPE - Reports</b></h1>
            <p>Ajude a sua Universidade saber dos problemas que a cercam</p>
        </div>
        <!--  ------------------------------------------------------------------------------------------------------- Cadastro -->
        <form ng-submit="cadastrar()" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
            <h2 class="w3-center">Cadastro</h2>

            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
                <div class="w3-rest">
                    <input id="name" class="w3-input w3-border w3-validate" autocomplete="off" name="name" type="text" ng-model="cadastro.name"
                        placeholder="Digite seu nome...">
                    <label id="validacaoName" class="validacao" style=" visibility: hidden;">Campo vazio, por favor digite seu nome.</label>

                </div>
            </div>


            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
                <div class="w3-rest">
                    <input class="w3-input w3-border w3-validate" autocomplete="off" maxlength="14" ng-blur="validaCPF()" onblur="javascript: FG_FormatarCPF('txtCPF');"
                        id="txtCPF" onkeypress="javascript: return EntradaNumerico(event);" onfocus="javascript: RemoveMask('txtCPF');"
                        type="text" ng-model="cadastro.cpf" placeholder="Digite seu cpf...">
                    <label id="validacaoCpf" class="validacao" style=" visibility: hidden;">Cpf inválido ou vazio.</label>
                </div>

            </div>


            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
                <div class="w3-rest">
                    <input id="email" class="w3-input w3-border w3-validate" autocomplete="off" type="email" ng-model="cadastro.email" placeholder="Digite seu email...">
                    <label id="validacaoEmail" class="validacao" style=" visibility: hidden;">Campo vazio, por favor digite seu email.</label>
                </div>
            </div>


            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-lock"></i></div>
                <div class="w3-rest">
                      <label>Tamanho minimo 6 caracteres</label>
                    <input pattern=".{6,}" id="senha" class="w3-input w3-border w3-validate" autocomplete="off" type="password" ng-model="cadastro.password" placeholder="Digite sua senha...">
                    <br>
                </div>
            </div>

            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-lock"></i></div>
                <div class="w3-rest">
                    <input pattern=".{6,}" id="id_submit" class="w3-input w3-border w3-validate" autocomplete="off" type="password" ng-model="pswValidation"
                        placeholder="Digite sua senha novamente...">
                    <label id="validacaoPsw" class="validacao" style=" visibility: hidden;">Por favor digite sua senha novamente, caso você tenha digitado então o valor digitado está diferente
                            que está no campo senha, por favor corrija, repita o mesmo valor que está no campo senha.</label>
                </div>
            </div>


            <p class="w3-center">
                <button class="w3-button w3-section w3-blue w3-ripple"> Cadastrar </button>
            </p>
        </form>
        <hr>
        <!-- ---------------------------------------------------------------------------------------------------------- Contact -->
        <div class="w3-center w3-padding-64" id="contact">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Aconteceu algum problema no site?!</span>
            <br><br>
            <br>
            <label>Envie um email para: marcoseduflautista1@gmail.com</label>
        </div>

    </div>
    <button ng-click="alertModal('Não foi possivel fazer o cadastro, por favor tente mais tarde.')">alertModal</button>
       <!-- ------------------------------------------------------------------------------------- Visualizar alertas login-->
    <div class="w3-row-padding">
        <div id="alertModalLogin" class="w3-modal">
            <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">

                <div class="w3-center w3-padding-8"><br>
                    <!-- "document.getElementById('alertModal').style.display='none'" -->
                    <span ng-click="goLeave()" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright" title="Fechar">×</span>

                </div>


                <div class="w3-container w3-center w3-border-top w3-padding-32 w3-light-grey">


                    <label class="w3-label w3-text-blue">{{Alertdescription}}</label>


                </div>

            </div>
        </div>
    </div>

    <!-- ------------------------------------------------------------------------------------- Visualizar alertas-->
    <div class="w3-row-padding">
        <div id="alertModal" class="w3-modal">
            <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">

                <div class="w3-center w3-padding-8"><br>
                    <span onclick="document.getElementById('alertModal').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                        title="Fechar">×</span>

                </div>


                <div class="w3-container w3-center w3-border-top w3-padding-32 w3-light-grey">


                    <label class="w3-label w3-text-blue">{{Alertdescription}}</label>


                </div>

            </div>
        </div>
    </div>
</body>

</html>