<!DOCTYPE html>
<html ng-app="appReport">
<title>UFRPE - Reports</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="lib/w3.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="css/index.css">

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/appHistorico.js"></script>

    <script type="text/javascript" src="js/angular-base64-upload.js"></script>
</head>

<body ng-controller="indexController">

    <!-- Links (sit on top) -->
    <div class="w3-top ">
        <div class="w3-container w3-light-blue ">

            <div class="w3-col s3 w3-right">
                <a href="index.html" class="w3-btn-block w3-light-grey">Sair</a>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------------------------------------------------- Content -->
    <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

        <div class="w3-panel">
            <h1><b>UFRPE - Reports</b></h1>
            <p>Ajude a sua Universidade saber dos problemas que a cercam</p>
        </div>

 <br>
        <br>
   <!-- ---------------------------------------------------------------------------------------------------------- Filtro -->
        <label style="margin-right: 20px;"><b>Filtrar por : </b></label>


        <label style="margin-right: 1px;"><b>Situação</b></label>
        <select id="filtroTableSituacao" ng-change="changeFilter()" ng-model="SituacaoFiltrado">
   <option   value="Selecione">Visualizar tudo</option>
   <option   value="resolvido">Resolvido</option>
   <option   value="não resolvido" >Não resolvido</option>
   </select>

        <label style="margin-left: 20px;margin-right: 1px;"><b>Lugar </b></label>

        <select id="filtroTableLugar" ng-change="changeFilter()" ng-model="LugarFiltrado">
   <option   value="Selecione" >Visualizar tudo</option>
   <option    value="sede">sede</option>
    <option    value="Biblioteca">Biblioteca</option>
   <option    value="Extensao" >Extensao</option>
     <option    value="zootecnia">zootecnia</option>
      <option    value="transrural">transrural</option>
       <option    value="veterinaria">veterinaria</option>
        <option    value="cegoe">cegoe</option>
         <option    value="cenapesq">cenapesq</option>
          <option    value="prefeitura">prefeitura</option>
            <option    value="edFisica" >edFisica</option>
              <option    value="ceagri2">ceagri2</option>
                <option    value="ceagri1">ceagri1</option>
                   <option    value="florestal">florestal</option>
                     <option    value="pesca">pesca</option>
  
</select>

        <br>
        <br>



        <div class="w3-center w3-responsive">
            <!-- ---------------------------------------------------------------------------------------------------------- Table Infomation -->
            <table class="w3-table-all w3-card-2 w3-hoverable w3-hover-border-blue">
                <tr class="w3-blue">
                    <th style="min-width:30px">Lugar</th>
                    <th>Descricao</th>
                    <th>Imagem</th>
                    <th>Situação</th>
                    <th>Visualizar</th>
                </tr>
                <tr ng-repeat="r in reports">

                    <th>{{r.place}}</th>

                    <th class="descrpt" style="min-width: 13px">{{r.description}}</th>

                    <th><img style="max-width:30%;" style="max-height:10%" src="data:image/jpg;base64,{{r.base64}}"></th>

                    <th>{{r.situacao}}</th>

                    <th>
                        <a ng-click="showRow(r.place,r.description,r.base64,r.situacao,r.resposta)" class="w3-btn-block w3-light-grey ">Visualizar</a>
                    </th>

                </tr>
            </table>
            <br>

            <hr>
        </div>



        <!-- ---------------------------------------------------------------------------------------------------------- Contact -->
        <div class="w3-center w3-padding-64 " id="contact ">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16 ">Aconteceu algum problema no site?!</span>
            <br><br>
            <br>
            <label>Envie um email para: marcoseduflautista1@gmail.com</label>
        </div>



        <!-- ------------------------------------------------------------------------------------- Visualizar info table-->
        <div class="w3-row-padding">
            <div id="infoTable" class="w3-modal">
                <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center w3-padding-8"><br>
                        <label class="w3-center w3-text-blue" style="font-size: medium;"><b>Visualização do Report</b></label>
                        <span onclick="document.getElementById('infoTable').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                            title="Close Modal">×</span>

                    </div>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">

                        <img id="imgInfoTable" style="max-width:100%;" style="background-color: darkgray;" style="max-height:100%" src="data:image/jpg;base64,{{auxImg}}"
                        />
                        <label id="validacaoImg" class="validacao w3-text-blue" style="visibility: hidden;">Esse report não contém imagem.</label>
                        <br>

                        <label style="max-width: 100%; word-wrap: break-word"><b>Localidade:</b></label>

                        <label style="max-width: 100%; word-wrap: break-word">{{place}}</label>

                        <br>
                        <br>
                        <label style="max-width: 100%; word-wrap: break-word"><b>Descrição:</b></label>
                        <div class="w3-panel  w3-leftbar  w3-border-blue">
                            <label style="max-width: 100%; word-wrap: break-word">{{description}}</label>

                        </div>

                        <label style="max-width: 100%; word-wrap: break-word;margin-right: 10px;"><b>Situação:</b></label>
                        <label style="margin-right: 2px;">{{situacao}}</label>
                        <br>
                        <label style="max-width: 100%; word-wrap: break-word;margin-right: 10px;"><b>Resposta:</b></label>
                        <label style="margin-right: 2px;">{{resposta}}</label>



                    </div>
                </div>
            </div>
        </div>

        <!-- ------------------------------------------------------------------------------------- Visualizar load-->
        <div id="showLoad" class="w3-modal ">
            <div>
                <div class="w3-display-middle ">
                    <div class="loader "></div>

                </div>
            </div>
        </div>

        <!-- ------------------------------------------------------------------------------------- Visualizar alertas reports-->
        <div class="w3-row-padding ">
            <div id="alertModal " class="w3-modal ">
                <div class="w3-modal-content w3-card-8 w3-animate-zoom " style="max-width:600px ">
                    <div class="w3-center w3-padding-8 "><br>
                        <label class="w3-center w3-text-blue " style="font-size: medium; "><b>Visualização do Report</b></label>
                        <span onclick="document.getElementById( 'infoTable').style.display='none' " class="w3-closebtn
                            w3-hover-red w3-container w3-padding-8 w3-display-topright " title="Close Modal ">×</span>

                    </div>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey ">

                        <img id="imgInfoTable " style="max-width:100%; " style="background-color: darkgray; " style="max-height:100%
                            " src="data:image/jpg;base64,{{auxImg}} " />
                        <label id="validacaoImg " class="validacao w3-text-blue " style="visibility: hidden; ">Esse report não contém imagem.</label>
                        <br>

                        <label style="max-width: 100%; word-wrap: break-word "><b>Localidade:</b></label>

                        <label style="max-width: 100%; word-wrap: break-word ">{{place}}</label>

                        <br>
                        <br>
                        <label style="max-width: 100%; word-wrap: break-word "><b>Descrição:</b></label>
                        <div class="w3-panel w3-leftbar w3-border-blue ">
                            <label style="max-width: 100%; word-wrap: break-word ">{{description}}</label>

                        </div>
                        <br>
                        <label style="max-width: 100%; word-wrap: break-word;margin-right: 10px; "><b>Situação:</b></label>


                    </div>

                </div>
            </div>
        </div>




</body>

</html>