<!DOCTYPE html>
<html ng-app="appReport">
<title>UFRPE - Reports</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="css/index.css">

<head>
    <script src="js/angular.min.js"></script>
    <script src="js/index.js"></script>
    <script type="text/javascript" src="js/angular-base64-upload.js"></script>

</head>

<body ng-controller="indexController">





    <!-- Links (sit on top) -->
    <div class="w3-top" style="width: 100%;">
        <div class="w3-row w3-large">

            <div class="w3-col s3 w3-light-grey" style="width: 20%;">
                <a href="#" class="w3-btn-block w3-light-grey ">Início</a>
            </div>

            <div class="w3-col s3" style="width: 20%;">
                <a onclick="document.getElementById('loginUser').style.display='block'" class="w3-btn-block w3-light-grey">Reporte Agora</a>
            </div>

            <div class="w3-col s3" style="width: 20%;">
                <a href="historicoReports.html" class="w3-btn-block w3-light-grey">Historico de Reports</a>
            </div>

            <div class="w3-col s3" style="width: 20%;">
                <!--     <a href="adm.html" class="w3-btn-block w3-light-grey">Login adm</a>-->
                <a onclick="document.getElementById('loginAdm').style.display='block'" class="w3-btn-block w3-light-grey">Entrar adm</a>
            </div>

            <div class="w3-col s3" style="width: 20%;">
                <a href="#contact" class="w3-btn-block w3-light-grey">Contato</a>
            </div>

        </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------------- Content -->
    <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

        <div class="w3-panel">
            <h1><b>UFRPE - Reports</b></h1>
            <p>Ajude a sua Universidade saber dos problemas que a cercam</p>
        </div>

        <!-- ----------------------------------------------------------------------------------------------------- Slideshow -->
        <div class="w3-container">

            <div class="w3-display-container mySlides">
                <img src="w3images/sound.jpg" style="width:100%">
                <div class="w3-display-topleft w3-container w3-padding-32">
                    <span class="w3-white w3-padding-large w3-animate-bottom">obras inacabadas no campus</span>
                </div>
            </div>

            <div class="w3-display-container mySlides">
                <img src="w3images/workbench.jpg" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-32">
                    <span class="w3-white w3-padding-large w3-animate-bottom">falta de iluminação</span>
                </div>
            </div>

            <div class="w3-display-container mySlides">
                <img src="w3images/coffe.jpg" style="width:100%">
                <div class="w3-display-topright w3-container w3-padding-32">
                    <span class="w3-white w3-padding-large w3-animate-bottom">estacionado em vaga proibida </span>
                </div>
            </div>

            <!-- ------------------------------------------------------------------------------------ Slideshow next/previous buttons -->
            <div class="w3-container w3-dark-grey w3-padding-8 w3-xlarge">
                <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
                <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>

                <div class="w3-center">
                    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(0)"></span>
                    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                    <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                </div>
            </div>
        </div>

        <hr>


        <div class="w3-center w3-responsive">
            <!-- ---------------------------------------------------------------------------------------------------------- Table Infomation -->
            <table class="w3-table-all w3-card-2 w3-hoverable w3-hover-border-blue">
                <tr class="w3-blue">
                    <th style="min-width:30px">Lugar</th>
                    <th>Descricao</th>
                    <th>Imagem</th>
                    <th>Situação</th>
                    <th>Visualizar</th>
                </tr>
                <tr ng-repeat="r in reports">

                    <th>{{r.place}}</th>

                    <th class="descrpt" style="min-width: 13px">{{r.description}}</th>

                    <th><img style="max-width:30%;" style="max-height:10%" src="data:image/jpg;base64,{{r.base64}}"></th>

                    <th>{{r.situacao}}</th>

                    <th>
                        <a ng-click="showRow(r.description,r.base64)" class="w3-btn-block w3-light-grey">Visualizar</a>
                    </th>

                </tr>
            </table>
            <br>

            <hr>



            <!-- ---------------------------------------------------------------------------------------------------------- Contact -->
            <div class="w3-center w3-padding-64" id="contact">
                <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Aconteceu algum problema no site?!</span>
                <br><br>
                <br>
                <label>Envie um email para: marcoseduflautista1@gmail.com</label>
            </div>


            <!-- ------------------------------------------------------------------------------------- login user -->
            <div class="w3-row-padding" id="about">
                <div id="loginUser" class="w3-modal">
                    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">

                        <div class="w3-center"><br>
                            <span onclick="document.getElementById('loginUser').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                                title="Fechar">×</span>

                        </div>

                        <form ng-submit="getUser()" class="w3-container">
                            <div class="w3-section">
                                <label><b>Email</b></label>
                                <input ng-model="user.email" class="w3-input w3-border w3-margin-bottom" autocomplete="off" type="email" placeholder="Digite seu email" name="usrname"
                                    required>
                                    <label><b>Senha</b></label>
                                    <input type="password" ng-model="user.password" autocomplete="off" class="w3-input w3-border" type="text" placeholder="Digite sua senha" name="psw"
                                        required>
                                        <button class="w3-btn-block w3-blue w3-section w3-padding" href="adm.html" type="submit">Entrar</button>
                            </div>
                        </form>

                        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                            <div class="w3-container">
                                <span class="w3-left w3-padding w3-hide-small"><a href="cadastro.html">Ainda não é cadastrado? clique aqui e cadastrar-se agora!</a></span>

                                <span onclick="document.getElementById('loginUser').style.display='none'" class="w3-left w3-padding w3-hide-small"><a href="#contact">Esqueceu a senha? entre em contato conosco.</a></span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>



            <!-- ------------------------------------------------------------------------------------- login adm  -->
            <div class="w3-row-padding" id="about">
                <div id="loginAdm" class="w3-modal">
                    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">

                        <div class="w3-center"><br>
                            <span onclick="document.getElementById('loginAdm').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                                title="Fechar">×</span>

                        </div>

                        <form ng-submit="getAdm()" class="w3-container">
                            <div class="w3-section">
                                <label><b>Email</b></label>
                                <input ng-model="adm.email" autocomplete="off" class="w3-input w3-border w3-margin-bottom" type="email" placeholder="Digite seu email" name="usrname"
                                    required>
                                    <label><b>Senha</b></label>
                                    <input type="password" ng-model="adm.password" autocomplete="off" class="w3-input w3-border" type="text" placeholder="Digite sua senha" name="psw"
                                        required>
                                        <button class="w3-btn-block w3-blue w3-section w3-padding" href="adm.html" type="submit">Entrar</button>
                            </div>
                        </form>

                        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">

                            <span onclick="document.getElementById('loginAdm').style.display='none'" class="w3-left w3-padding w3-hide-small"><a href="#contact">Esqueceu a senha ou ainda não foi cadastrado? entre em contato conosco.</a></span>

                        </div>

                    </div>
                </div>
            </div>

            <!-- ------------------------------------------------------------------------------------- Visualizar info table-->
            <div class="w3-row-padding">
                <div id="infoTable" class="w3-modal">
                    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">

                        <div class="w3-center w3-padding-8"><br>
                            <span onclick="document.getElementById('infoTable').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                                title="Close Modal">×</span>

                        </div>


                        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">

                            <img style="max-width:100%;" style="max-height:100%" src="data:image/jpg;base64,{{auxImg}}" />
                             <label id="validacaoImg" class="validacao w3-text-blue" style="visibility: hidden;">Esse report não contém imagem.</label>
                            <br>
                            <br>
                            <div class="w3-panel  w3-leftbar  w3-border-blue">
                                <label style="max-width: 100%; word-wrap: break-word">{{description}}</label>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- ------------------------------------------------------------------------------------- Visualizar load-->
            <div id="showLoad" class="w3-modal">
                <div>
                    <div class="w3-display-middle">
                        <div class="loader">

                        </div>

                    </div>
                </div>
            </div>



  <!-- ------------------------------------------------------------------------------------- Visualizar alertas-->
    <div class="w3-row-padding">
        <div id="alertModal" class="w3-modal">
            <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">

                <div class="w3-center w3-padding-8"><br>
                    <span onclick="document.getElementById('alertModal').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                        title="Fechar">×</span>

                </div>


                <div class="w3-container w3-center w3-border-top w3-padding-32 w3-light-grey">


                    <label class="w3-label w3-text-blue">{{Alertdescription}}</label>


                </div>

            </div>
        </div>
    </div>



            <script type="text/javascript" src="js/slideShow.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script type="text/javascript" src="js/jquery.maphilight.min.js"></script>

            <script type="text/javascript">
                                           $(function () {
                                               $('.map').maphilight({ fade: false });
                                           });
            </script>
            <script>
                $(document).ready(function () {
                    $("#getData").click(function () {
                        $.getJSON("demo_ajax_json.js", function (result) {
                            $.each(result, function (i, field) {
                                $("div").append(field + " ");
                            });
                        });
                    });
                });
            </script>


</body>

</html>