<!DOCTYPE html>
<html ng-app="appReport">
<title>Reporte agora! UFRPE - Reports</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="css/index.css">

<head>
    <script src="js/angular.min.js"></script>
    <script src="js/appReports.js"></script>

    <script type="text/javascript" src="js/angular-base64-upload.js"></script>
    <script src="js/funcoes.js" type="text/javascript"></script>
</head>

<body ng-controller="indexController">

    <!------------------------------------------------------------------------------- Links (sit on top) -->
    <div class="w3-top ">
        <div class="w3-container w3-light-blue ">

            <div class="w3-col s3 w3-right">
                <a href="index.html" class="w3-btn-block w3-light-grey">Sair</a>
            </div>
        </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------------- Content -->
    <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

        <div class="w3-panel">
            <h1><b>UFRPE - Reports</b></h1>
            <p>Ajude a sua Universidade saber dos problemas que a cercam</p>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------- Formulario Grid -->
        <div class="w3-row-padding w3-container" id="newReport">

            <div class="w3-container">
                <form ng-submit="save()" class="w3-container w3-card-4 w3-light-grey w3-text-blue">

                    <!-- ----------------------------------------------------------------- INformando -- IMAGEM DE SELECAO -->
                    <div>
                        <p>
                            <h3 class="w3-center">Clique na imagem abaixo no local ocorrido.
                                <h3 class="w3-center">
                        </p>

                    </div>
                    <!-- ----------------------------------------------------------------- IMAGEM DE SELECAO -->
                    <img class="map" class="w3-center w3-padding-64" src="w3images/ufrpe.png" usemap="#image-maps-ufrpe" style="width:100%">
                    <map name="image-maps-ufrpe" id="ImageMapsCom-image-maps-2017-01-23-104905">
    
<area ng-click="placeShow('sede')" alt="sede" title="sede" shape="poly" coords="362,223,339,182,321,139,356,50,449,55,537,93,541,104,467,169"
    hidefocus="true" />
     <area ng-click="placeShow('Biblioteca')" alt="Biblioteca" title="Biblioteca" shape="poly" coords="528,56,548,90,617,97,634,72"
     />
      <area ng-click="placeShow('Extensao')" alt="Extensao" title="Extensao" shape="poly" coords="644,74,630,102,700,142,722,109"
     />
<area ng-click="placeShow('zootecnia')" alt="zootecnia" title="zootecnia" shape="poly" coords="62,419,230,483,353,381,117,368"
     />
<area ng-click="placeShow('transrural')" alt="transrural" title="transrural" shape="poly" coords="362,368,477,380,545,380,695,344,685,377,518,417,367,397"
     />
<area ng-click="placeShow('veterinaria')" alt="veterinaria" title="veterinaria" shape="poly" coords="571,104,618,112,675,147,528,201,476,174"
     />
<area ng-click="placeShow('cegoe')" alt="cegoe" title="cegoe" shape="poly" coords="485,182,584,248,520,285,425,224"  />
<area ng-click="placeShow('cenapesq')" alt="cenapesq" title="cenapesq" shape="poly" coords="389,251,421,235,517,299,488,328"
     />
<area ng-click="placeShow('prefeitura')" alt="prefeitura" title="prefeitura" shape="poly" coords="534,373,571,352,536,305,499,326"
     />
<area ng-click="placeShow('edFisica')" alt="edFisica" title="edFisica" shape="poly" coords="570,297,611,326,678,307,626,270"
     />
<area ng-click="placeShow('ceagri2')" alt="ceagri2" title="ceagri2" shape="poly" coords="858,224,878,256,945,245,934,224,924,217"
     />
     <area ng-click="placeShow('ceagri1')" alt="ceagri1" title="ceagri1" shape="poly" coords="884,266,945,253,968,300,904,314"
     />
<area ng-click="placeShow('florestal')" alt="florestal" title="florestal" shape="poly" coords="754,217,769,342,898,321,846,219"
     />
<area ng-click="placeShow('pesca')" alt="pesca" title="pesca" shape="poly"  coords="777,346,788,388,989,368,965,321" />




</map>

                    <br>
                    <br>
                    <br>

                    <div class="w3-row w3-section">
                        <div class="w3-col" style="width:50px"><i class="w3-xxlarge material-icons">description</i></div>
                        <div class="w3-rest">
                            <textarea id="description" style=" resize: none;" placeholder="Descreva o problema ocorrido..." class="w3-input w3-border " maxlength="600"
                                rows="7" cols="50" ng-model="report.description" ></textarea>
                            <labe id="validacaoDescription" class="validacao" style=" visibility: hidden;">Preencha o campo de descrição.</label>
                        </div>
                    </div>


                    <div class="w3-row w3-section">
                        <div class="w3-col" style="width:50px"><i class="w3-xxlarge material-icons">photo_camera</i></div>
                        <div class="w3-rest">

                            <input id="iptImg" class="w3-button w3-light-blue" type="file" ng-model="file" name="inputFile" base-sixty-four-input maxsize="500"
                                accept="image/*">
                            <br>
                            <label class="w3-label w3-center w3-validate w3-text-blue" style="font-size: small">Insira a foto do local (seria ótimo para averiguar a vericidade do caso)</label>
                        </div>
                    </div>
                    <p class="w3-center">
                        <button class="w3-btn w3-center  w3-section w3-blue w3-ripple" type="submit">Salvar</button>
                    </p>
                </form>
            </div>
        </div>

        <hr>


        <!-- ---------------------------------------------------------------------------------------------------------- Contact -->
        <div class="w3-center w3-padding-64" id="contact">
            <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Aconteceu algum problema no site?!</span>
            <br><br>
            <br>
            <label>Envie um email para: marcoseduflautista1@gmail.com</label>
        </div>





     <!-- ------------------------------------------------------------------------------------- Visualizar alertas reports-->
        <div class="w3-row-padding">
            <div id="alertModal" class="w3-modal">
                <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center w3-padding-8"><br>
                        <!--  -->
                        <span onclick="document.getElementById('alertModal').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright" title="Fechar">×</span>

                    </div>


                    <div class="w3-container w3-center w3-border-top w3-padding-32 w3-light-grey">


                        <label class="w3-label w3-text-blue">{{Alertdescription}}</label>


                    </div>

                </div>
            </div>
        </div>


        <!-- ------------------------------------------------------------------------------------- Visualizar alertas login-->
        <div class="w3-row-padding">
            <div id="alertModalLogin" class="w3-modal">
                <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center w3-padding-8"><br>
                        <!-- "document.getElementById('alertModal').style.display='none'" -->
                        <span ng-click="goLeave()" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright" title="Fechar">×</span>

                    </div>


                    <div class="w3-container w3-center w3-border-top w3-padding-32 w3-light-grey">


                        <label class="w3-label w3-text-blue">{{Alertdescription}}</label>


                    </div>

                </div>
            </div>
        </div>

        <!-- ------------------------------------------------------------------------------------- Visualizar load-->
        <div id="showLoad" class="w3-modal">
            <div>
                <div class="w3-display-middle">
                    <div class="loader"></div>

                </div>
            </div>
        </div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.maphilight.min.js"></script>

        <script type="text/javascript">
            $(function () {
                $('.map').maphilight({ fade: false });
            });
        </script>
        <script>
            $(document).ready(function () {
                $("#getData").click(function () {
                    $.getJSON("demo_ajax_json.js", function (result) {
                        $.each(result, function (i, field) {
                            $("div").append(field + " ");
                        });
                    });
                });
            });
        </script>


</body>

</html>